@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

.App {
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  min-height: 600px;
  position: relative;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin font-family {
  font-family: 'Poor Story', cursive;
}

button, input {
  outline: none;
}

button {
  cursor: pointer;
}

/* Worder Component Styles */

.Worder {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;

  .content {
    @include absolute-center();
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50vw;
  }

  img.word-img {
    max-width: 100%;
    max-width: 100%;
  }

  .lines {
    display: flex;
    min-height: 6.5vw;
    margin-bottom: 3em;
  
    > span {
      min-width: 5vw;
      border-bottom: 4px solid darken(burlywood, 30%);
      display: block;
      margin-right: 10px;
      text-align: center;
      font-size: 5vw;
      text-transform: uppercase;
      @include font-family;
  
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .letters {
    display: flex;
    font-size: 4vw;
    text-transform: uppercase;
    width: 50vw;
    justify-content: center;

    .letter {
      width: 5vw;
      height: 5vw;
      border-radius: 100%;
      background-color: lighten(burlywood, 15%);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
      transition: all .3s;
      user-select: none;
      @include font-family;

      &:hover {
        transform: scale(1.2);
      }
      &:active {
        transform: scale(1);
      }
      &.selected {
        opacity: .4;
        transform: scale(1) !important; 
      }
    }
  }
}

/* WordLister Component Styles */

.WordLister {
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  .container {
    display: flex;
    flex-direction: row;
    width: min-content;
    transition: transform .5s;
  }

  button.nextWord {
    @include absolute-center();
    @include font-family;
    border: none;
    background-color: transparent;
    font-size: 5em;
    left: 80%;
    width: 10vw;

    img {
      width: 100%;
    }
  }
}

/* ListSelector Component Styles */

.ListSelector {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h2 {
    @include font-family;
    font-size: 5em;
  }

  .lists-container {
    display: flex;

    > div.list {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        max-width: 100%;
        max-height: 80%;
        border-radius: 100%;
      }
      h3 {
        margin: 10px 0 0;
        font-weight: normal;
      }
    }

    > * {
      border: 1px solid rgba(0,0,0,0.2);
      border-radius: 15px;
      height: 150px;
      width: 150px;
      padding: 15px 20px 20px;
      margin-right: 15px;
      transition: all .3s;
      cursor: pointer;
      
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        transform: scale(1.1);
      }
    }

    > div.add-list-btn-container {
      button {
        height: 100%;
        width: 100%;
        @include font-family;
        border: none;
        background-color: transparent;
        font-size: 2em;
      }
    }
  }

  .add-list-container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;

    button.back-btn, button.create-btn {
      border: none;
      background-color: transparent;
      position: absolute;
      left: 2em;
      top: 210px;
      width: 150px;

      @media only screen and (max-width: 960px) {
        width: 100px;
        top: 230px;
      }

      span {
        @include absolute-center();
        font-size: 1.5em;
        left: 55%;
        top: 47%;
        font-weight: bold;
        @include font-family();
        color: white;
        text-shadow: 1px 1px 0px black;
        letter-spacing: 1px;
        z-index: 2;
      }

      img {
        width: 100%;
        transform: scaleX(-1);
        position: relative;
        z-index: 1;
      }
    }

    button.create-btn {
      left: initial;
      right: 2em;
      
      span {
        left: 45%;
      }
      img {
        transform: scaleX(1);
      }
    }

    @mixin form-width {
      width: 80%;
      max-width: 600px;
      min-width: 384px;

      @media only screen and (max-width: 960px) {
        width: 50%;
      }
    }

    input {
      font-size: 2em;
      border: none;
      border-bottom: 2px solid rgba(0,0,0,0.3);
      padding: 12px 18px;
      box-sizing: border-box;
      background-color: lighten(cadetblue, 41%);
      border-radius: 10px;
      @include form-width();
      min-width: 0;
    }

    ul.list-preview {
      @include form-width();
      box-sizing: border-box;
      padding: 40px;
      border: 1px solid rgba(0,0,0,0.2);
      border-radius: 15px;
      
      li.item-adder {
        display: flex;
        flex-direction: column;

        input {
          width: 100%;
          border-bottom: 1px solid rgba(0,0,0,0.2);
          margin-bottom: 10px;
          font-size: 1em;
        }

        .action-btns {
          display: flex;
          justify-content: space-between;;
        }

        button {
          border: 1px solid rgba(0,0,0,0.2);
          background-color: transparent;
          padding: 12px 18px;
          border-radius: 10px;
          @include font-family;
          font-size: 2em;
          margin-right: 10px;
          background-color: lighten(cadetblue, 30%);
    
          &:hover {
            background-color: lighten(cadetblue, 10%);
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }

      li:not(.item-adder) {
        display: flex;
        flex-direction: row;
        background-color: rgba(0,0,0,0.1);
        margin-top: 1em;
        overflow: auto;
        padding: 20px;
        border-radius: 10px;
        position: relative;
        align-items: center;
        overflow: hidden;

        span {
          font-size: 2em;
          display: flex;
          color: rgba(0,0,0,0.7);

          span {
            font-size: .75em;
            background-color: transparent;
            border-radius: 100%;
            border: 2px solid rgba(0,0,0,0.5);
            height: 1.75em;
            width: 1.75em;
            display: block;
            text-align: center;
            line-height: 1.75em;
            margin-right: 15px;
            font-weight: bold;
          }
        }

        img {
          margin-left: auto;
          max-width: 100%;
          max-height: 60px;
          transition: all .5s;
          transform: translateX(0%);
        }

        button.delete {
          font-size: 2em;
          color: darken(red, 20%);
          border: none;
          background-color: transparent;
          text-transform: uppercase;
          font-weight: bold;
          transition: all .5s;
          opacity: 0;
          transform: translateX(100%);
          position: absolute;
          right: 20px;
        }

        &:hover {
          img {
            transform: translateX(-50%);
          }
          button.delete {
            transform: translateX(0%);
            opacity: 1;
          }
        }
      }
    }
  }
}


@keyframes bounce-7 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-100px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}